.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 15vw;
    height: 5vh;
    background: none;
    border-radius: 15px;
}