<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <form id="form" class="loginMenu">
      <h1>login</h1>
      <input type="email" id="email" name="email" value="">
      <input type="password" id="password" name="password" value="">
      <button id="submit" type="submit">Login</button>
    </form>
  </div>

  <script src="/scripts/login.js"></script>
</body>

</html>
