<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="/css/notFound.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>Page not found</h1>
    <button id="returnButton" type="submit">Go to Home page</button>
  </div>
  <script src="/scripts/notFound.js"></script>
</body>

</html>
